body {
    --breakpoint-small: 600px;
    --breakpoint-medium: 992px;

    --color-primary: #4D1FE6;
}
a {
    text-decoration: none;
}

.container {
    padding: 3rem;
    position: relative;
}

.button {
    border: none !important;
    text-transform: uppercase;
    padding: 0.75rem 0.75rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
    background-color: #ebebeb;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgba(0,0,0,0.6);
    border-radius: 3px;
    font-size: 1rem;
}
.button--primary {
    background-color: var(--color-primary);
    color: rgba(255,255,255,0.87) !important;
}
.button--compact {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    text-transform: unset;
}
.button__block {
    box-sizing: border-box;
    width: 100%;
}

.typography__display4 {
    font-size: 3rem;
    font-weight: 600;
}
.typography__display3 {
    font-size: 2.5rem;
    font-weight: 500;
}
.typography__display2 {
    font-size: 2rem;
    font-weight: 600;
}
.typography__display1 {
    font-size: 1.5rem;
    font-weight: 500;
}
.typography__headline {
    font-size: 1.2rem;
    font-weight: 500;
}
.typography__caption {
    font-size: 0.9rem;
    color: rgba(0,0,0,0.7);
}
.typography--align-center {
    text-align: center;
}
.typography--white {
    color: #fff;
}


@media screen and (min-width: 600px) {
    .show-on-small {
        display: none;
    }
}
